In [53]:
from datetime import date
import pandas as pd
from datahub import backtest as bt

In [49]:
with pd.HDFStore("fund_info.h5") as store:
    symbol_info = pd.read_hdf(store, "symbol_info")
    fund_quotes = pd.read_hdf(store, "fund_quotes")

In [60]:
filtered_fund = symbol_info[
    (symbol_info["purchase_low_limit"] <= 500000) & symbol_info["trade_status"].str.startswith(u"开放申购")]

In [68]:
filtered_fund.head()

,symbol,start_date,expired_date,sub_fee,purchase_fee,redemption_fee,management_fee,sale_fee,trade_status,purchase_start,purchase_low_limit,purchase_confirm,redem_confirm,redem_date
9,000198.OF,2013-05-29 00:00:00.005,1899-12-30 00:00:00.005,None,None,None,0.30,0.08,开放申购|开放赎回,2013-06-03 00:00:00.005,1.0,T+1,T+1,T+2
10,000203.OF,2013-07-24 00:00:00.005,1899-12-30 00:00:00.005,None,None,None,0.33,0.10,开放申购|开放赎回,2013-08-26 00:00:00.005,1.0,T+1,T+1,T+2
12,000210.OF,2013-09-05 00:00:00.005,1899-12-30 00:00:00.005,None,None,None,0.33,0.10,开放申购|开放赎回,2013-09-23 00:00:00.005,10.0,T+1,T+1,T+2
16,000322.OF,2013-12-18 00:00:00.005,1899-12-30 00:00:00.005,None,None,None,0.27,0.08,开放申购|开放赎回,2014-01-02 00:00:00.005,1000.0,T+1,T+1,T+7
18,000324.OF,2013-10-29 00:00:00.005,1899-12-30 00:00:00.005,None,None,None,0.33,0.10,开放申购|开放赎回,2013-11-15 00:00:00.005,10.0,T+1,T+1,T+3

In [62]:
missing_symbols=[]
performance_result = {}
for symbol in filtered_fund["symbol"]:
    if len(quote) != 139:
        continue
    if symbol not in fund_quotes.items:
        missing_symbols.append(symbol)
        continue
    quote = fund_quotes[symbol]
    quote["daily_ret"] = quote["7day_annual_ret"] / 365
    nav = bt.normalize_change(quote["daily_ret"])
    performance = bt.cal_portfolio_performance(nav, date(2017, 1, 3), date(2017, 7, 28), 1.35)
    performance_result[symbol] = performance
performance_result = pd.DataFrame.from_dict(performance_result, orient="index")

In [69]:
fund_summary = performance_result.merge(filtered_fund[["symbol", "management_fee", "sale_fee", "purchase_confirm",
                                        "redem_confirm", "redem_date"]], left_index=True, right_on="symbol")

In [74]:
fund_summary[(fund_summary["sharpe"] >= 10) & (fund_summary["cum_return"] >= 3) & (fund_summary["redem_date"] != "T+7")]

,daily_std,sharpe,cum_return,daily_mean,symbol,management_fee,sale_fee,purchase_confirm,redem_confirm,redem_date
9,0.000652,19.074543,3.293935,0.010616,000198.OF,0.30,0.08,T+1,T+1,T+2
76,0.000842,47.607545,4.898906,0.012944,000621.OF,0.14,0.05,T+1,T+1,T+1
99,0.000921,11.777832,3.215573,0.010481,000681.OF,0.00,0.10,T+1,T+1,T+2
112,0.001155,10.104369,3.255430,0.010550,000709.OF,0.27,0.05,T+1,T+1,T+2
231,0.000514,33.988885,3.549198,0.011039,001529.OF,0.25,0.05,T+1,T+1,T+1
233,0.000702,15.047094,3.201707,0.010457,001624.OF,0.27,0.05,T+1,T+1,T+1
268,0.001526,10.752343,3.493239,0.010949,001987.OF,0.25,0.10,T+1,T+1,T+3
311,0.000738,23.913147,3.558910,0.011054,002759.OF,0.30,0.08,T+1,T+1,T+1
325,0.001063,28.274995,4.257006,0.012099,002912.OF,0.33,0.05,T+1,T+1,T+1
393,0.000878,15.377327,3.346688,0.010705,003585.OF,0.33,0.05,T+1,T+1,T+2
513,0.000477,14.689538,3.033848,0.010158,020007.OF,0.33,0.10,T+1,T+1,T+3
559,0.000811,21.857519,3.562509,0.011060,159004.OF,0.20,0.08,T+1,T+1,None

In [79]:
fund_quotes["000621.OF"]

,7day_annual_ret,daily_yield,yield_mean,yield_sd,annual_ret_mean,annual_ret_sd,daily_ret
2017-01-03,4.858,0.5659,1.566649,0.993511,4.733751,0.096625,0.000000
2017-01-04,4.741,0.9481,1.566649,0.993511,4.733751,0.096625,0.012989
2017-01-05,4.736,1.3698,1.566649,0.993511,4.733751,0.096625,0.012975
2017-01-06,4.500,1.2431,1.566649,0.993511,4.733751,0.096625,0.012329
2017-01-09,4.352,1.3099,1.566649,0.993511,4.733751,0.096625,0.011923
2017-01-10,4.511,0.8576,1.566649,0.993511,4.733751,0.096625,0.012359
2017-01-11,4.499,0.9260,1.566649,0.993511,4.733751,0.096625,0.012326
2017-01-12,4.545,1.4540,1.566649,0.993511,4.733751,0.096625,0.012452
2017-01-13,4.606,1.3557,1.566649,0.993511,4.733751,0.096625,0.012619
2017-01-16,4.593,1.3268,1.566649,0.993511,4.733751,0.096625,0.012584
2017-01-17,4.504,0.6935,1.566649,0.993511,4.733751,0.096625,0.012340
2017-01-18,4.637,1.1700,1.566649,0.993511,4.733751,0.096625,0.012704
2017-01-19,4.643,1.4665,1.566649,0.993511,4.733751,0.096625,0.012721
2017-01-20,4.670,1.4043,1.566649,0.993511,4.733751,0.096625,0.012795
2017-01-23,4.679,1.3116,1.566649,0.993511,4.733751,0.096625,0.012819
2017-01-24,5.028,1.3311,1.566649,0.993511,4.733751,0.096625,0.013775
2017-01-25,5.108,1.3165,1.566649,0.993511,4.733751,0.096625,0.013995
2017-01-26,5.028,1.3209,1.566649,0.993511,4.733751,0.096625,0.013775
2017-02-03,4.938,1.3241,1.566649,0.993511,4.733751,0.096625,0.013529
2017-02-06,4.543,0.5890,1.566649,0.993511,4.733751,0.096625,0.012447
2017-02-07,4.536,1.3082,1.566649,0.993511,4.733751,0.096625,0.012427
2017-02-08,4.534,1.3164,1.566649,0.993511,4.733751,0.096625,0.012422
2017-02-09,4.529,1.3102,1.566649,0.993511,4.733751,0.096625,0.012408
2017-02-10,4.521,1.3086,1.566649,0.993511,4.733751,0.096625,0.012386
2017-02-13,4.516,0.6112,1.566649,0.993511,4.733751,0.096625,0.012373
2017-02-14,4.513,1.3033,1.566649,0.993511,4.733751,0.096625,0.012364
2017-02-15,4.500,1.2920,1.566649,0.993511,4.733751,0.096625,0.012329
2017-02-16,4.494,1.3002,1.566649,0.993511,4.733751,0.096625,0.012312
2017-02-17,4.504,1.3264,1.566649,0.993511,4.733751,0.096625,0.012340
2017-02-20,4.520,0.6045,1.566649,0.993511,4.733751,0.096625,0.012384
...,...,...,...,...,...,...,...
2017-06-19,5.054,1.0831,1.566649,0.993511,4.733751,0.096625,0.013847
2017-06-20,4.813,1.4365,1.566649,0.993511,4.733751,0.096625,0.013186
2017-06-21,4.738,1.3633,1.566649,0.993511,4.733751,0.096625,0.012981
2017-06-22,4.919,1.4069,1.566649,0.993511,4.733751,0.096625,0.013477
2017-06-23,5.061,1.3317,1.566649,0.993511,4.733751,0.096625,0.013866
2017-06-26,5.087,1.3198,1.566649,0.993511,4.733751,0.096625,0.013937
2017-06-27,5.012,1.2996,1.566649,0.993511,4.733751,0.096625,0.013732
2017-06-28,5.063,1.4568,1.566649,0.993511,4.733751,0.096625,0.013871
2017-06-29,5.086,1.4478,1.566649,0.993511,4.733751,0.096625,0.013934
2017-06-30,5.007,1.1874,1.566649,0.993511,4.733751,0.096625,0.013718
2017-07-03,5.010,1.1025,1.566649,0.993511,4.733751,0.096625,0.013726
2017-07-04,5.103,1.4693,1.566649,0.993511,4.733751,0.096625,0.013981
2017-07-05,5.011,1.2897,1.566649,0.993511,4.733751,0.096625,0.013729
2017-07-06,5.014,1.4526,1.566649,0.993511,4.733751,0.096625,0.013737
2017-07-07,5.011,1.1830,1.566649,0.993511,4.733751,0.096625,0.013729
2017-07-10,5.104,1.0478,1.566649,0.993511,4.733751,0.096625,0.013984
2017-07-11,5.008,1.2931,1.566649,0.993511,4.733751,0.096625,0.013721
2017-07-12,5.001,1.2780,1.566649,0.993511,4.733751,0.096625,0.013701
2017-07-13,5.002,1.4547,1.566649,0.993511,4.733751,0.096625,0.013704
2017-07-14,4.994,1.1687,1.566649,0.993511,4.733751,0.096625,0.013682
2017-07-17,5.146,1.5390,1.566649,0.993511,4.733751,0.096625,0.014099
2017-07-18,5.033,1.0861,1.566649,0.993511,4.733751,0.096625,0.013789
2017-07-19,5.008,1.2332,1.566649,0.993511,4.733751,0.096625,0.013721
2017-07-20,4.950,1.3482,1.566649,0.993511,4.733751,0.096625,0.013562
2017-07-21,4.950,1.1684,1.566649,0.993511,4.733751,0.096625,0.013562
2017-07-24,4.882,1.4357,1.566649,0.993511,4.733751,0.096625,0.013375
2017-07-25,4.901,1.1219,1.566649,0.993511,4.733751,0.096625,0.013427
2017-07-26,4.906,1.2412,1.566649,0.993511,4.733751,0.096625,0.013441
2017-07-27,4.855,1.2544,1.566649,0.993511,4.733751,0.096625,0.013301
2017-07-28,4.802,1.0729,1.566649,0.993511,4.733751,0.096625,0.013156